{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="sidebar">
    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout_user' %}">Logout</a>
    {% else %}
    <a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<!-- Main Content -->
<div class="main-content" style="margin-bottom: 12%; margin-top: -1%;">
    <div class="login-container" style="margin-bottom: 12%; margin-top: -1%;">
        <h2 class="text-center">Login</h2>
        <form action="{% url 'login_user' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                {{ form.email }}
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>
        <div class="text-center mt-3">
            <!-- <p>Or login with</p> -->
                <!-- <button class="btn btn-danger me-2"><i class="bi bi-google"></i> Google</button>
                <button class="btn btn-primary me-2"><i class="bi bi-facebook"></i> Facebook</button> -->

            <!-- <a href=""">
                <button class="btn btn-dark"><i class="bi bi-github"></i> GitHub</button>
            </a> -->
            <p> </p>
            <p style="margin-bottom: 0%;">Or</p>
            <a href="{% url 'register' %}"><button class="btn btn-danger w-100">Register</button></a>
        </div>
    </div>
</div>

{% endblock %}