.env
.vim
terraform
/terraform
/terraform/
/venv
venv
/static
static
*/__pycache__/*.pyc

creators/management/commands/fake_creators.py
/creators/management/commands/fake_creators.py
/creators/management/commands/
/creators/management/commands
creators/management/commands/