{% extends 'base/base.html' %}
{% block content %}
{% block title %} Password Reset Confirm{% endblock %}
{% load static %}

<div class="sidebar">
    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout_user' %}">Logout</a>
    {% else %}
    <a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<!-- Main Content -->
<div class="main-content" style="margin-bottom: 12%; margin-top: -1%;">
    <div class="login-container" style="margin-bottom: 12%; margin-top: -1%;">
        <h4 class="text-center">Reset Your Password</h4>
        <hr style="border: 1px solid black; width: 100%s;">
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.new_password1.label }}<br>
                {{ form.new_password1 }}<br>
            </div>
            <div class="mb-3">
                {{ form.new_password2.label }}<br>
                {{ form.new_password2 }}<br>
            </div>
            <button type="submit" class="btn btn-danger w-100">Reset Password</button>
        </form>
        <p> </p>
        <div class="text-center mt-3">
            <p> </p>
            <br>
            <p><a href="{% url 'login_user' %}">Back to login</a></p>
        </div>
    </div>
</div>

{% endblock %}