{% load static %}
<footer class="bg-dark text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4">
           
            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://x.com/1_amaechi" role="button" target="_blank">
                <!-- <i class="fab fa-twitter"></i> -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                    <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                  </svg>
            </a>
            <!-- Google -->
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i> -->
            </a>
            <!-- Instagram -->
            <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i> -->
            </a>
            <!-- LinkedIn -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/amaechi-ugwu-9370a7244/" role="button" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <!-- GitHub -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://github.com/amaechijude" role="button">
                <i class="fab fa-github"></i>
            </a>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://portfolio-iqua.onrender.com" target="_blank">Amaechi's Portfolio</a>
    </div>
</footer>
