{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- Sidebar -->
<div class="sidebar">
    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}
    <!-- <a href="{% url 'wishlist' %}">WishList<span id="wishcount" class="count"> {{ request.user.wishlist_count }}</span></a> -->
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout_user' %}">Logout</a>
    {% else %}
    <a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<style>
    .product-images {
        max-width: 100%;
        height: auto;
    }

    .product-detailss {
        padding: 20px;
    }
</style>
<div class="main-content" style="margin-top: -4%;">
    <div class="container-fluid" style="margin-top: -0.99px;">
        <div class="row">
            <!-- Main Content (Product Details) -->
            <main class="col-md-9 col-lg-10">
                <div class="container my-4">
                    <div class="row">
                        <!-- Product Image -->
                        <div class="col-md-6">
                            <img src="{{ style.images.url }}" alt="Product Image" class="product-images img-fluid">
                        </div>

                        <!-- Product Details -->
                        <div class="col-md-6 product-detailss">
                            <h2 class="product-title">{{ style.title }} </h2>
                            <p class="text-muted">Brand: <a href="{% url 'designer' style.designer.id %}">
                                    {{ style.designer.brand_name}}</a>
                            </p>
                            <h3 class="fw-bold">${{ style.asking_price }} </h3>
                            <p class="text-success"> Can Request: {{ style.can_request }} </p>
                            <p class="lead">{{ style.description }}.</p>

                            <!-- Add to Cart and Buy Now Buttons -->
                            <div class="d-flex flex-column flex-md-row gap-2">
                                {% if sty and style in sty%}
                                <button id="btn_{{ style.id }}_irm" onclick="irmWishlist('{{ style.id }}')"
                                    class="btn btn-outline-danger">Remove from wishlistt</button>
                                <button id="btn_{{ style.id }}_iadd" onclick="iaddWishList('{{style.id}}')"
                                    class="btn btn-outline-primary" style="display: none;">
                                    Add to WishList
                                </button>
                                {% else %}
                                <button id="btn_{{ style.id }}_nadd" onclick="naddWishlist('{{ style.id }}')"
                                    class="btn btn-outline-primary">Add to WishList</button>
                                <button id="btn_{{ style.id }}_nrm" onclick="nrmWishlist('{{ style.id }}')"
                                    class="btn btn-outline-danger" style="display: none;">
                                    Remove from WishList
                                </button>
                                {% endif %}
                                <button class="btn btn-outline-success">Buy Now</button>
                                {% if style.designer.user == request.user %}
                                <button class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#editProduct">Edit product</button>
                                {% endif %}
                            </div>

                            <!-- Product Specifications -->
                            <div class="mt-4">
                                <h5>Product Specifications</h5>
                                <ul>
                                    <li>Weight: 1.5 kg</li>
                                    <li>Dimensions: 12 x 10 x 8 inches</li>
                                    <li>Material: Stainless Steel</li>
                                    <li>Color: Silver</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Reviews Section -->
                    <div class="row mt-5">
                        <h4 class="w-100 text-success">Customer Reviews</h4> <br>
                        <button class="btn btn-outline-primary" data-bs-toggle="modal"
                        data-bs-target="#reviewform">Add Review</button>
                        <div id="reviewDiv" class="col-12">
                            <!-- Review 1 -->
                             {% if reviews %}
                             {% for rev in reviews %}
                            <div class="mb-3">
                                <h4><strong> {{ rev.user.name }} </strong>
                                    <!-- <span class="text-warning">&#9733;&#9733;&#9733;&#9733;&#9734;</span> -->
                                </h4>
                                <p>{{ rev.text_content }}</p>
                            </div>
                            <hr>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- Create Review forms -->
<div class="modal fade" id="reviewform" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInfoModalLabel">Add Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'forms/reviewform.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- updateStyle -->
<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInfoModalLabel">Update Style</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% include 'forms/updateStyle.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/rform.js' %}"></script>
{% endblock %}