<div class="modal fade" id="reviewform" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInfoModalLabel">Add Review</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% load static %}

                <form id="rform" action="{% url 'addReview' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="name" name="name" required minlength="3">
                    </div>
                    <div class="mb-3">
                        <label for="text_content" class="form-label">Review</label>
                        <!-- <textarea class="form-control" id="text_conten" name="text_conten" rows="3" required></textarea> -->
                        {{ rform.text_content}}
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Add Image</label>
                        <!-- <input type="file" class="form-control" id="image"> -->
                        {{ rform.image }}
                    </div>
                    <input type="hidden" name="styleid" value="{{ style.id }}">
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Add Review</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>