<div class="modal fade" id="editProduct" tabindex="-1" aria-labelledby="editInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editInfoModalLabel">Update Style</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'updateStyle' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        {{ usform.title }}
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        {{ usform.description }}
                    </div>
                    <div class="mb-3">
                        <label for="images" class="form-label">Thumbnail</label>
                        {{ usform.thumbnail }}
                    </div>
                    <div class="mb-3">
                        <label for="can_request" class="form-label">Can User Request</label>
                        {{ usform.can_request }}
                    </div>
                    <div class="mb-3">
                        <label for="asking_price" class="form-label">Asking Price</label>
                        {{ usform.asking_price }}
                    </div>
                    <div class="mb-3">
                        <label for="status" class="form-label">Status</label>
                        {{ usform.status }}
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary w-100">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>