<form action="{% url 'updateStyle' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        {{ usform.title }}
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
         {{ usform.description }}
    </div>
    <div class="mb-3" style="border: 1px solid black;">
        <label for="images" class="form-label">Image</label>
         {{ usform.images }}
    </div>
    <div class="mb-3">
        <label for="can_request" class="form-label">Can User Request</label>
         {{ usform.can_request }}
    </div>
    <div class="mb-3">
        <label for="asking_price" class="form-label">Asking Price</label>
         {{ usform.asking_price }}
    </div>
    <div class="mb-3">
        <label for="status" class="form-label">Status</label>
         {{ usform.status }}
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100" data-bs-dismiss="modal">Save</button>
    </div>
</form>