{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<!-- Sidebar -->
<div class="sidebar">
    <a href="{% url 'index' %}">Home</a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}">Profile</a>
    <a href="{% url 'logout_user' %}">Logout</a>
    {% else %}
    <a href="{% url 'login_user' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>
<!-- Main Content -->

<div class="main-content">
    <h2 class="mb-4">Featured Products</h2>
    <div class="container">
        <div class="row g-3">
            {% if styles %}
            {% for style in styles %}
           <div class="col-md-4 d-flex">
               <div class="product-item">
                   <img src="{{ style.images.url }}" alt="Product 1" class="product-image">
                   <h3 class="product-title">{{ style.title }}</h3>
                   <p class="product-description">{{ style.description }} </p>
                   <div class="product-price">${{ style.asking_price }}</div>
                   <button onclick="WishList('{{style.id}}')" class="btn btn-primary w-100">Add to WishList</button>
                   <button onclick="RmWishList('{{style.id}}')" class="btn btn-danger w-100">Remove WishList</button>
               </div>
           </div>
           {% endfor %}
           {% endif %}
            <!-- Product Item 1 -->
            <!-- <div class="col-md-4 d-flex">
                <div class="product-item">
                    <img src="https://via.placeholder.com/300x200" alt="Product 1" class="product-image">
                    <h3 class="product-title">Product 1</h3>
                    <p class="product-description">This is a short description of Product 1.</p>
                    <div class="product-price">$49.99</div>
                    <button class="btn btn-primary w-100">Add to Wishlist</button>
                </div>
            </div> -->

        </div>
    </div>
</div>
<script src="{% static 'js/base.js' %}"></script>
{% endblock %}