{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Main Content -->
<div class="main-content">
    <div class="login-container">
        <h2>Login</h2>
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <button type="submit">Register</button>
        </form>

        <div class="oauth-buttons">
            <button class="oauth-google">Google</button>
            <button class="oauth-facebook">Facebook</button>
            <button class="oauth-github">GitHub</button>
        </div>
        <br>
        <a class="other-link" href="{% url 'login_user' %}">
            <button class="other-link">Login</button>
        </a>
    </div>
</div>

{% endblock %}